.flexContainer {
    display: flex;
    flex-direction: column;
}

.header {
    display: grid;
    grid-template-columns: 1fr auto;
    transition: 200ms;
    margin: 15px 15px 0px 15px;
}

.headerText {
    display: grid;
    grid-template-rows: auto auto;
    gap: 3px;
}

.headerTitle {
    font-size: 2rem;
    line-height: 2rem;
    color: #F5F5F5;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
}

.headerSubtitle {
    font-size: 1.125rem;
    line-height: 1.125rem;
    font-weight: 300;
    font-family: 'Rubik', sans-serif;
    color: #AAAAAA;
}

.headerEmoji {
    display: grid;
    justify-content: right;
    align-content: center;
    font-size: 2.625rem;
    line-height: 2.625rem;
}

.content {
    flex-grow: 1;
    /* align-self: center; */
    /* width: 100%; */
    display: grid;
    place-content: center;
    grid-template-columns: 1fr;
    margin: 0px 15px;
}

.menuBotoes {
    display: grid;
    gap: 20px;
}

.botao {
    font-size: 1.125rem;
    line-height: 1.125rem;
    transition: 200ms;
    color: #AAAAAA;
    font-family: 'Rubik', sans-serif;
    padding: 15px 0px;
    border: 1px solid #2F2F2F;
    border-radius: 5px;
    text-align: center;
}

.botao:active {
    color: #F5F5F5;
    border: 1px solid #D6D6D6;
}

.selectionHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.playerNumber {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    color: #AAAAAA;
    margin-bottom: 6px;
    font-weight: 600;
}

.headerEmojiHolder {
    border: 1px solid #2F2F2F;
    border-radius: 5px;
    width: 32px;
    padding: 15px;
    display: grid;
    place-content: center;
    transition: 200ms;
}

.headerEmojiText {
    font-size: 2rem;
    line-height: 2rem;
}

.selectionGeneralContainer {
    background-color: #000000;
    border: 1px solid;
    border-radius: 5px;
    padding: 15px;
    max-height: 270px;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.selectionContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    /* overflow-y: scroll; */
    justify-content: center;
}

.selectableEmojiHolder {
    border: 1px solid #0F0F0F;
    border-radius: 5px;
    width: 32px;
    height: 32px;
    padding: 15px;
    display: grid;
    place-content: center;
    transition: 200ms;
    background-color: #0F0F0F;
    transition: 200ms;
}

.selectableEmojiHolder:active {
    background-color: #1C1C1C;
}

.selectableEmoji {
    font-size: 2rem;
    line-height: 2rem;
}

.selectionButtons p:first-child {
    margin-bottom: 15px;
}