.flexContainer {
    display: flex;
    flex-direction: column;
}

.header {
    display: grid;
    grid-template-columns: 1fr auto;
    transition: 200ms;
    margin: 15px 15px 0px 15px;
    user-select: none;
}

.headerText {
    display: grid;
    grid-template-rows: auto auto;
    gap: 3px;
}

.headerTitle {
    font-size: 2rem;
    line-height: 2rem;
    color: #F5F5F5;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
}

.headerSubtitle {
    font-size: 1.125rem;
    line-height: 1.125rem;
    font-weight: 300;
    font-family: 'Rubik', sans-serif;
    color: #AAAAAA;
}

.headerEmoji {
    display: grid;
    justify-content: right;
    align-content: center;
    font-size: 2.625rem;
    line-height: 2.625rem;
}

.content {
    flex-grow: 1;
    /* align-self: center; */
    /* width: 100%; */
    display: grid;
    place-content: center;
    grid-template-columns: 1fr;
    margin: 0px 15px;
}

.menuBotoes {
    display: grid;
    gap: 20px;
}

.botao {
    font-size: 1.125rem;
    line-height: 1.125rem;
    transition: 200ms;
    color: #AAAAAA;
    font-family: 'Rubik', sans-serif;
    padding: 15px 0px;
    border: 1px solid #2F2F2F;
    border-radius: 5px;
    text-align: center;
    user-select: none;
}

.botao:not(.inactive):active {
    color: #F5F5F5;
    border: 1px solid #D6D6D6;
}

.botao.inactive {
    opacity: 50%;
}

.selectionHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.playerNumber {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    color: #AAAAAA;
    margin-bottom: 6px;
    font-weight: 600;
    user-select: none;
    transition: 200ms;
}

.headerEmojiHolder {
    border: 1px solid #2F2F2F;
    border-radius: 5px;
    width: 32px;
    height: 32px;
    padding: 15px;
    display: grid;
    place-content: center;
    transition: 200ms;
}

.activePlayer1 .headerEmojiHolder {
    /* border: 1px solid #4268F0; */
    animation: pulseBlue 300ms alternate infinite;

}

.activePlayer1 .playerNumber {
    color: #4268F0;
}

.activePlayer2 .headerEmojiHolder {
    /* border: 1px solid #B84040; */
    animation: pulseRed 300ms alternate infinite;
}

@keyframes pulseBlue {
    0% {
        border-color: #708FFE;
    }
    
    100% {
        border-color: #1347FF;
    }
}

@keyframes pulseRed {
    0% {
        border-color: #ED7575;
    }
    
    100% {
        border-color: #D32222;
    }
}

.activePlayer2 .playerNumber {
    color: #B84040;
}

.headerEmojiText {
    font-size: 2rem;
    line-height: 2rem;
    user-select: none;
}

.selectionGeneralContainer {
    background-color: #000000;
    border: 1px solid #D6D6D6;
    border-radius: 5px;
    padding: 15px;
    max-height: 270px;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.selectionContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    /* overflow-y: scroll; */
    justify-content: center;
}

.selectableEmojiHolder {
    border: 1px solid #0F0F0F;
    border-radius: 5px;
    width: 32px;
    height: 32px;
    padding: 15px;
    display: grid;
    place-content: center;
    background-color: #0F0F0F;
    transition: 100ms;
}

.selectableEmojiHolder:active {
    border: 1px solid #1C1C1C;
    background-color: #1C1C1C;
}

.selectableEmojiHolder:active .selectableEmoji {
    opacity: 100%;
}

.selectableHolderPlayer2.selectableEmojiHolder .selectableEmoji,
.selectableHolderPlayer1.selectableEmojiHolder .selectableEmoji {
    opacity: 100%;
}

.selectableHolderPlayer1.selectableEmojiHolder {
    border: 1px solid #4268F0;
}

.selectableHolderPlayer2.selectableEmojiHolder {
    border: 1px solid #B84040;
}

.selectableEmoji {
    font-size: 2rem;
    line-height: 2rem;
    opacity: 50%;
    user-select: none;
    transition: 100ms;
}

.selectionButtons p:first-child {
    margin-bottom: 15px;
}